@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x=> x.CategoryName,new{@class = "form-control"})    
    <br />   
    <button class="btn btn-primary">Kategori Ekle</button>
</form>

